.container {
    background-color: rgb(99, 98, 98);
    text-align: center;
    padding: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.control {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: rgb(39, 40, 40);
    color: #f0eeee;
    border-radius: 13%;
    font-size: 15px;
    padding: 10px 20px;
    transition: 0.5s;
}

#counter {
    padding: 10px;
}

button:hover {
  background: #555;
  transform: translateY(-2px);
}

.pictures {
    background-color: #f0eeee;
    display: inline-block;
    padding: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 250px;

}

#photo {
    width: 350px;
    height: 250px;
    border-radius: 10%;
 }