
.hero-video-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.hero-video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    padding-top: 100vh; /* 讓內容從影片底部開始 */
    background-color: #fff;
}

#ic {
    height: 780px;
}